<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../../images/warning_logo.png"/>
    <title>Are You In Danger?</title>

    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/style.css">
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%if (user.email=="null"){%>
          <a class="navbar-brand" href="/">Are You in Danger?</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
        <%} else{%>
          <a class="navbar-brand" href="/home/<%=user.email%>">Are You in Danger?</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home/<%=user.email%>">Home<span class="sr-only">(current)</span></a>
              </li>
        <%}%>

            <%if (user.email=="null"){%>
              <li class="nav-item">
                <a class="nav-link" href="/users/create">New User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/login">Log In</a>
              </li>
            <%} else{%>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Log Out</a>
              </li>
            <%}%>

          </ul>
          <!-- <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <br>
      <br>
      <div class="container">
        <h1 class="mt-5">Are You in Danger?</h1>
        <p class="lead">Mapping New York Police Department Shootings and Arrests in Manhattan</p>
        <%if (user.email=="null"){%>
          <p>Visualized below is a heat map of all arrests reported by the NYPD. Black dots indicate locations of shooting incidents as reported by the NYPD.</p>
          <p>Log in or create an account to access the app's full functionality.</p>
        <%} else{%>
          <p>Visualized below is a heat map of all arrests reported by the NYPD. Black dots indicate locations of shooting incidents as reported by the NYPD. Click on a black data to see more specific information regarding the shooting. Click anywhere else on the map and then press "See Incident" to see more specific information regarding the closest arrest.</p>
          <form action="/incident/<%=user.email%>/find_incident" method="post">
            <%if (coord_feedback==-1){%>
              <div id="feedback" class = "negative">
                Choose a coordinate point to look up by clicking on the map before requesting data for the nearest incident.
              </div>
            <%} else if(coord_feedback==2){%>
              <div id="feedback" class = "negative">
                Couldn't find a closest incident. Try again.
              </div>
            <%}%>
            <input type="text" class="form-control" onkeypress="return false;" id="longitude_input" name="longitude" text-anchor="middle" style="width: 100%;" placeholder="Longitude">
            <input type="text" class="form-control" onkeypress="return false;" id="latitude_input" name="latitude" style="width: 100%;" placeholder="Latitude">
            <button id ="access_incident_button" type="submit" class="btn btn-secondary">Go To Nearest Incident</button>
          </form>
          <br>
        <%}%>
      </div>

      <!-- <div id="access_incident">
        <button type="button" id="access_incident_button" onclick="loadIncident()">Go To Incident</button>
      </div> -->



      <div id='map'></div>
      <pre id='info'></pre>
      <%if (user.email=="null"){%>
        <div class="br buffer">
          <svg width="100%" height="670">
            <rect width="100%" height="670" style="fill:rgb(255,255,255)" />
          </svg>
        </div>
      <%} else{%>
        <div class="br buffer">
          <svg width="100%" height="670">
            <rect width="100%" height="670" style="fill:rgb(255,255,255)" />
          </svg>
        </div>
      <%}%>

      <div class="container">
        <p>Developed by: Tyler Masuyama, Brawner Quan, and Henry Shuster.</p>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <%if (user.email=="null"){%>
      <style>
        #map {
          margin: 0px auto;
          margin-top: 330px;
          width: 100%;
          height: 660px;
        }
        #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 50%;
          padding: 0px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #ddd;
          height: 52px;
          width: 100%
        }
      </style>
    <%} else{%>
      <style>
        #map {
          margin: 0px auto;
          margin-top: 475px;
          width: 100%;
          height: 660px;
        }
        #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 50%;
          padding: 0px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #ddd;
          height: 52px;
          width: 100%
        }
      </style>
    <%}%>

    <style>
      #feedback{
        height: 22px;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        padding:5px;
      }
      .negative {
        background-color: #ffb7b2;
        border-left-style: solid;
        border-color: red;
      }
      .positive {
        background-color: #abeab6;
        border-left-style: solid;
        border-color: green;
      }
      .hidden{
        display: none;
      }
      .visible{
        display:block;
      }
    </style>


    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhd25lcmJveSIsImEiOiJjam5udWY5OTQwMjVrM3JvY2NyNGtkYmkwIn0.9FLrzon784t4Tx7CSIBHTQ';
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/brawnerboy/cjvhftmci0exp1cseuw7a1wtc',
        center: [-73.967981, 40.785899],
        zoom: 15.0
      });
      map.on('mousemove', function (e) {
            document.getElementById('info').innerHTML =
            // e.point is the x, y coordinates of the mousemove event relative
            // to the top-left corner of the map
            "<br>Longitude: "+e.lngLat.lng+", "+
            // e.lngLat is the longitude, latitude geographical position of the event
            "Latitude: "+e.lngLat.lat+"<br>";
      });
      map.on('click', function (f) {
            console.log(JSON.stringify(f.lngLat));
            document.getElementById('longitude_input').value = f.lngLat.lng;
            document.getElementById('latitude_input').value = f.lngLat.lat;
      });
    </script>
  </body>
</html>
